/* start default theme */
.navbar-dark .navbar-brand span ,
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active ,
.dropdown-item:hover,
.option-box .check ,
.our-feature .box i ,
.our-feature .box span ,
.testimonials .carousel-caption h5 ,
.price .plan ul li i.yes,
.price .plan ul li i.help ,
.our-team .container .person .icon i:hover , 
.stats .row .stat:hover ,
.footer h3 ,
.footer .copyrigth span ,
.feature i ,
.our-team .container .person h4,
.faq-ques .accordion-button:not(.collapsed){
    color: var(--main-color);
}
html{
    scrollbar-color: var(--main-color);
}
.dropdown-divider ,
.carousel-indicators .active ,
.main-title::before ,
.main-title::after ,
.option-box .color-option ul li,
#scroll{
    background-color: var(--main-color);
}

.dropdown-menu {
    border-top: 1px solid var(--main-color);
}
.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}
.option-box .color-option{
    border: 4px solid var(--main-color);
}
.price .plan .top{
    outline: 2px solid var(--main-color);
    background-color: var(--main-color);
}
.footer .img-thumbnail{
    border: 1px solid var(--main-color);
}

/* end default theme */